/.conf
/vendor
/mx

/composer.lock

/source/Controller/*
!/source/Controller/MxServer

/system/router/*
!/system/router/MxServer.php

# MX-CORE

/.env
/vendor
/.vscode
/storage/cache
/storage/certificate
